name: Build and Push Docker Image

on:
  push:
    branches:
      [ main ]
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
    build-and-upload:
        runs-on: ubuntu-latest
        container: 
          image: kiloexabyte/runner-image
        steps:
        - name: Clone repo into subdirectory
          run: |
            git clone --depth=1 https://github.com/${{ github.repository }} repo
            cd repo
            git checkout ${{ github.ref_name }}
            ls -lah

        - name: Upload Docker Image to Docker Hub
          env: 
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
            IMAGE_TAG: ${{ github.event_name == 'pull_request' && format('PR{0}', github.event.pull_request.number) || 'latest' }}
          run: |
            cd repo
            op buildandupload
