name: On PR Closed

on:
  pull_request:
    types:
      - closed

jobs:
    delete-image:
        runs-on: ubuntu-latest
        container: 
          image: kiloexabyte/runner-image
        env:
            IMAGE_TAG: ${{ format('PR{0}', github.event.pull_request.number) }}
        steps:
        - name: Clone repo into subdirectory
          run: |
            git clone --depth=1 https://github.com/${{ github.repository }} repo
            cd repo
            git checkout ${{ github.ref_name }}
            ls -lah

        - name: Delete Image to Docker Hub
          env: 
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          run: |
            cd repo
            op delete_image