name: On PR Closed

on:
  pull_request:
    types:
      - closed

jobs:
  delete-image:
    runs-on: ubuntu-latest
    container: 
      image: kiloexabyte/runner-image:latest
    env:
        IMAGE_TAG: ${{ format('PR{0}', github.event.pull_request.number) }}
    steps:
    - uses: actions/checkout@v6
    - name: Delete Image to Docker Hub
      env: 
        GOFLAGS: -buildvcs=false
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        op delete_image