name: On PR Opened

on:
  pull_request:
    branches:
      [ main ]
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: kiloexabyte/runner-image:latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Lint ops, build and upload Docker image
      env:
        GOFLAGS: -buildvcs=false
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        IMAGE_TAG: ${{ format('PR{0}', github.event.pull_request.number) }}
      run: |
        op lint
        op build_and_upload