name: On push to main

on:
  push:
    branches:
      [ main ]
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    container: 
      image: kiloexabyte/runner-image:latest
    steps:
    - uses: actions/checkout@v6
    - name: Upload Docker Image to Docker Hub
      env: 
        GOFLAGS: -buildvcs=false
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        op build_and_upload